@tailwind base;
@tailwind components;
@tailwind utilities;

.embla {
  max-width: 48rem;
  margin: auto;
  --slide-height: 400px;
  --slide-spacing: 1rem;
  --slide-size: 70%;
}

.embla__viewport {
  overflow: hidden;
  position: relative;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
  padding-left: var(--slide-spacing);
  position: relative;
}

.embla__slide__img {
  border-radius: 1.8rem;
  display: block;
  height: var(--slide-height);
  width: 70%;
  margin: 0 auto;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.embla__slide {
  transition: opacity 0.2s ease-in-out;
}
.embla__slide:not(.is-snapped) {
  opacity: 0.16;
}

.embla__slide--next,
.embla__slide--prev {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  opacity: 0.5;
  transition: opacity 0.2s ease-in-out;
}

.embla__slide--next {
  right: -50%;
}

.embla__slide--prev {
  left: -50%;
}

.slides {
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
  transition: opacity 0.5s ease-in-out;
}

.slides:not(.is-snapped) {
  opacity: 0.10;
  transform: scale(0.8);
}

.slides__inner {
  height: var(--slide-height);
}

.parallax {
  height: 400px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}