@tailwind base;
@tailwind components;
@tailwind utilities;


/* EmblaCarousel.module.css */

.hexagonWrapper {
  display: flex;
  align-items: center;
}

.hexagon {
  position: relative;
  width: 150px; /* Adjust size to match Image height and width */
  height: 86.60px; /* Height calculated for hexagon shape */
  background-color: #ddd; /* Background color of hexagon */
  margin-right: 20px; /* Adjust margin as needed */
}

.hexagonInner {
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.hexagon Image {
  width: 100%;
  height: auto;
}

.embla {
  overflow: hidden;
}

.embla__container {
  display: flex;
}

.embla__slide {
  min-width: 100%;
  padding: 10px;
}
.parallax {
  height: 400px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}